:root {
    --bg-color: #d9cdf7;
    --text-color: #271a45;
}

body {
    background: var(--bg-color);
}

body * {
    color: var(--text-color);
    height: 100vh;
}

#btn-close, 
#animated {
    display: none;
}

#btn-360 {
 display: none;
}

.app {
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 63px;
}